$heading-font-family = 'Lato', sans-serif;
$body-font-family = 'Roboto', sans-serif;
@require '~vuetify/src/stylus/main.styl'
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
    font-family: "Roboto", sans-serif;
}

.v-toolbar__title{
    cursor: pointer !important;
}

.toolbar-text {
    font-family: "Roboto", sans-serif;
}

.gradient {
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.headerImage {
    top: -70px;
}

.headerImage_content {
    left: 20%;
    margin-top: 15%;
}

.v-carousel__item{
    cursor: pointer !important;
}

.rounded {
    border-radius: 50px;
}

.header-font{
    font-family: "Lato", sans-serif;
}

.v-btn {
    border-radius: 5px;
}

.pastHome {
    background-color: rgba(255, 255, 255, .9) !important;
    animation-name: goingBeyondHome;
    animation-duration: 1s;
}

.atHome {
    background-color: rgba(255, 255, 255, .0) !important;
    animation-name: goingBackHome;
    animation-duration: 1s;
}

.itemImg {
    cursor: pointer;
}

.itemDesc {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.itemDescHover {
    position: absolute;
    top: 100%;
    transform: translateY(-100%); 
    width: 100%;
}

.footer {
    background-color: #eaeaea;
}

// animations

@keyframes goingBeyondHome {
    from {background-color: rgba(255, 255, 255, .0)};
    to {background-color: rgba(255, 255, 255, .9)};
}

@keyframes goingBackHome {
    from {background-color: rgba(255, 255, 255, .9)};
    to {background-color: rgba(255, 255, 255, .0)};
}