<template>
  <v-layout row wrap>
    
    <v-flex xs12>
      <v-img id="homeImg" class="headerImage" :src="require('@/assets/bg/bg_2.jpg')">
        <v-flex xs6 class="align-bottom text-xs-left grey--text lighten-2 headerImage_content">
          <v-layout wrap>
            <v-flex xs3></v-flex>
            <v-flex xs6>
              <v-card-text class="header-font display-2">
                Bask in the glory of PC Master Race
              </v-card-text>
              <v-card-text class="title">
                Nerdbench is your one stop shop so you can concentrate on your gaming and other PCMR needs!
              </v-card-text>
              <v-btn depressed dark large class="align-center shopNow" v-scroll-to="{ el:'#shop', easing: 'ease', duration: 1200, offset: -64}" color="blue">Shop Now!</v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-img>
    </v-flex>

<!-- Start of carousel -->
    <v-flex xs12 id="shop">
      <v-layout wrap>
        <v-flex xs1></v-flex>
        <v-flex xs10>
          <v-layout wrap class="pb-5">
          <v-carousel id="element" hide-delimiters height=700 class="px-0 blue">
              <v-carousel-item
                v-for="(item,i) in carousel"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
<!-- end of carousel -->

<!-- start of products -->

    <v-flex xs12 class="mb-5">
      <v-layout wrap>
        <v-flex xs1></v-flex>
        <v-flex xs10>
          <v-layout wrap>

            <v-flex xs3 class="px-4" @mouseover="hover.item_1 = true" @mouseleave="hover.item_1 = false">
              <v-img class="itemImg elevation-2" :src="require('@/assets/products/91l0wAmTC+L._SL1500_.jpg')" contain aspect-ratio=".8">
                <v-layout wrap>
                  <v-flex xs12 class="itemDescHover">
                    
                    <div class="itemDesc title px-4 pt-3 pb-2" v-bind:class="{ 'text-truncate':!hover.item_1 }">
                      Intel i7-8770K 3.2Ghz 6 Core
                    </div>
                    
                    <div class="itemDesc subeheading text-truncate px-4 pb-3">
                      Php 18,032.48
                      <v-layout wrap class="pt-2" v-if="hover.item_1 == true">
                        <v-flex xs6>
                          <v-btn dark color="blue">Buy Now</v-btn>
                        </v-flex>
                        <v-flex xs6>
                          <v-btn dark color="blue">Add to cart</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>

                  </v-flex>
                </v-layout>
              </v-img>
            </v-flex>

            <v-flex xs3 class="px-4" @mouseover="hover.item_2 = true" @mouseleave="hover.item_2 = false">
              <v-img class="itemImg elevation-2" :src="require('@/assets/products/61IsA3O32GL._SL1178_.jpg')" contain aspect-ratio=".8">
                <v-layout wrap>
                  <v-flex xs12 class="itemDescHover">
                    
                    <div class="itemDesc title px-4 pt-3 pb-2" v-bind:class="{ 'text-truncate':!hover.item_2 }">
                      Ryzen 7 2700 8 Cores 3.2Ghz
                    </div>
                    
                    <div class="itemDesc subeheading text-truncate px-4 pb-3">
                      Php 8,524.87
                      <v-layout wrap class="pt-2" v-if="hover.item_2 == true">
                        <v-flex xs6>
                          <v-btn dark color="blue">Buy Now</v-btn>
                        </v-flex>
                        <v-flex xs6>
                          <v-btn dark color="blue">Add to cart</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>

                  </v-flex>
                </v-layout>
              </v-img>
            </v-flex>

            <v-flex xs3 class="px-4" @mouseover="hover.item_3 = true" @mouseleave="hover.item_3 = false">
              <v-img class="itemImg elevation-2" :src="require('@/assets/products/615WxvyEIBL._SL1182_.jpg')" contain aspect-ratio=".8">
                <v-layout wrap>
                  <v-flex xs12 class="itemDescHover">
                    
                    <div class="itemDesc title px-4 pt-3 pb-2" v-bind:class="{ 'text-truncate':!hover.item_3 }">
                      Ryzen 5 2600 6 Cores 3.4Ghz
                    </div>
                    
                    <div class="itemDesc subeheading text-truncate px-4 pb-3">
                      Php 11,625.01
                      <v-layout wrap class="pt-2" v-if="hover.item_3 == true">
                        <v-flex xs6>
                          <v-btn dark color="blue">Buy Now</v-btn>
                        </v-flex>
                        <v-flex xs6>
                          <v-btn dark color="blue">Add to cart</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>

                  </v-flex>
                </v-layout>
              </v-img>
            </v-flex>

            <v-flex xs3 class="px-4" @mouseover="hover.item_4 = true" @mouseleave="hover.item_4 = false">
              <v-img class="itemImg elevation-2" :src="require('@/assets/products/91fwbO7eOBL._SL1500_.jpg')" contain aspect-ratio=".8">
                <v-layout wrap>
                  <v-flex xs12 class="itemDescHover">
                    
                    <div class="itemDesc title px-4 pt-3 pb-2" v-bind:class="{ 'text-truncate':!hover.item_4 }">
                      Intel i3-8110 3.6Ghz 6 Cores
                    </div>
                    
                    <div class="itemDesc subeheading text-truncate px-4 pb-3">
                      Php 6,665.30
                      <v-layout wrap class="pt-2" v-if="hover.item_4 == true">
                        <v-flex xs6>
                          <v-btn dark color="blue">Buy Now</v-btn>
                        </v-flex>
                        <v-flex xs6>
                          <v-btn dark color="blue">Add to cart</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>

                  </v-flex>
                </v-layout>
              </v-img>
            </v-flex>

          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout wrap>
        <v-spacer></v-spacer>
          <v-btn dark color="blue" class="mr-4 mt-3"><v-icon>list</v-icon>More Processors</v-btn>
        <v-flex xs1></v-flex>
      </v-layout>
    </v-flex>

    <!-- GFX Cards -->

    <v-flex xs12 class="mb-5">
      <v-layout wrap>
        <v-flex xs1></v-flex>
        <v-flex xs10>
          <v-layout wrap>

            <v-flex xs3 class="px-4" @mouseover="hover.item_5 = true" @mouseleave="hover.item_5 = false">
              <v-img class="itemImg elevation-2" :src="require('@/assets/products/71b2EiEDWoL._SL1200_.jpg')" contain aspect-ratio=".8">
                <v-layout wrap>
                  <v-flex xs12 class="itemDescHover">
                    
                    <div class="itemDesc title px-4 pt-3 pb-2" v-bind:class="{ 'text-truncate':!hover.item_5 }">
                      EVGA GeForce GTX 1080 Ti 11GB GDDR5X
                    </div>
                    
                    <div class="itemDesc subeheading text-truncate px-4 pb-3">
                      Php 40,043.47
                      <v-layout wrap class="pt-2" v-if="hover.item_5 == true">
                        <v-flex xs6>
                          <v-btn dark color="blue">Buy Now</v-btn>
                        </v-flex>
                        <v-flex xs6>
                          <v-btn dark color="blue">Add to cart</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>

                  </v-flex>
                </v-layout>
              </v-img>
            </v-flex>

            <v-flex xs3 class="px-4" @mouseover="hover.item_6 = true" @mouseleave="hover.item_6 = false">
              <v-img class="itemImg elevation-2" :src="require('@/assets/products/81+7AmR1iYL._SL1500_.jpg')" contain aspect-ratio=".8">
                <v-layout wrap>
                  <v-flex xs12 class="itemDescHover">
                    
                    <div class="itemDesc title px-4 pt-3 pb-2" v-bind:class="{ 'text-truncate':!hover.item_6 }">
                      Gigabyte Radeon Rx 550 D5 2GB
                    </div>
                    
                    <div class="itemDesc subeheading text-truncate px-4 pb-3">
                      Php 5,115.23
                      <v-layout wrap class="pt-2" v-if="hover.item_6 == true">
                        <v-flex xs6>
                          <v-btn dark color="blue">Buy Now</v-btn>
                        </v-flex>
                        <v-flex xs6>
                          <v-btn dark color="blue">Add to cart</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>

                  </v-flex>
                </v-layout>
              </v-img>
            </v-flex>

            <v-flex xs3 class="px-4" @mouseover="hover.item_7 = true" @mouseleave="hover.item_7 = false">
              <v-img class="itemImg elevation-2" :src="require('@/assets/products/81waD0eVSCL._SL1500_.jpg')" contain aspect-ratio=".8">
                <v-layout wrap>
                  <v-flex xs12 class="itemDescHover">
                    
                    <div class="itemDesc title px-4 pt-3 pb-2" v-bind:class="{ 'text-truncate':!hover.item_7 }">
                      MSI GEFORCE GTX1080 TI GAMING X 11G
                    </div>
                    
                    <div class="itemDesc subeheading text-truncate px-4 pb-3">
                      Php 38,493.40
                      <v-layout wrap class="pt-2" v-if="hover.item_7 == true">
                        <v-flex xs6>
                          <v-btn dark color="blue">Buy Now</v-btn>
                        </v-flex>
                        <v-flex xs6>
                          <v-btn dark color="blue">Add to cart</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>

                  </v-flex>
                </v-layout>
              </v-img>
            </v-flex>

            <v-flex xs3 class="px-4" @mouseover="hover.item_8 = true" @mouseleave="hover.item_8 = false">
              <v-img class="itemImg elevation-2" :src="require('@/assets/products/81UV5REq62L._SL1500_.jpg')" contain aspect-ratio=".8">
                <v-layout wrap>
                  <v-flex xs12 class="itemDescHover">
                    
                    <div class="itemDesc title px-4 pt-3 pb-2" v-bind:class="{ 'text-truncate':!hover.item_8 }">
                      MSI Gaming Radeon RX 560 128-bit 4GB GDDR5
                    </div>
                    
                    <div class="itemDesc subeheading text-truncate px-4 pb-3">
                      Php 11,116.59
                      <v-layout wrap class="pt-2" v-if="hover.item_8 == true">
                        <v-flex xs6>
                          <v-btn dark color="blue">Buy Now</v-btn>
                        </v-flex>
                        <v-flex xs6>
                          <v-btn dark color="blue">Add to cart</v-btn>
                        </v-flex>
                      </v-layout>
                    </div>

                  </v-flex>
                </v-layout>
              </v-img>
            </v-flex>

          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout wrap>
        <v-spacer></v-spacer>
          <v-btn dark color="blue" class="mr-4 mt-3"><v-icon>list</v-icon>More Graphics Cards</v-btn>
        <v-flex xs1></v-flex>
      </v-layout>
    </v-flex>

    <!-- end of products -->

    <v-layout wrap class="pt-5 pb-2">
      <v-flex xs12 class="footer grey--text py-5 text-xs-center">
        <h4 class="display-1">
          Looking to get more FPS for less value?
        </h4>
        <h4 class="title py-3">
          Sign up to get notifications of great deals!
        </h4>
        <v-btn large dark color="blue">Sign up</v-btn>
      </v-flex>
      
      <v-flex xs3></v-flex>

      <v-flex xs6 class="text-xs-center">
        <v-layout wrap>
          <v-flex xs3 class="text-xs-center pt-5 pb-3">
            <v-btn flat class="title">
              About
            </v-btn>
          </v-flex>
          <v-flex xs3 class="text-xs-center pt-5 pb-3">
            <v-btn flat class="title">
              Contact Us
            </v-btn>
          </v-flex>
          <v-flex xs3 class="text-xs-center pt-5 pb-3">
            <v-btn flat class="title">
              Privacy & Terms
            </v-btn>
          </v-flex>
          <v-flex xs3 class="text-xs-center pt-5 pb-3">
            <v-btn flat class="title">
              Cookies
            </v-btn>
          </v-flex>
        </v-layout>
          <v-btn flat v-scroll-to="{ el:'#shop', easing: 'ease', duration: 1600, offset: -64}">
              <v-icon>keyboard_arrow_up</v-icon>
            Going up?
              <v-icon>keyboard_arrow_up</v-icon>
          </v-btn>
          <!-- <h4 class="title">
            //NerdBench, Rise above the #PCMR
          </h4> -->
      </v-flex>
      
    </v-layout>

  </v-layout>
</template>

<script>
  export default {
    data: () => ({
      hover: {
        item_1: false,
        item_2: false,
        item_3: false,
        item_4: false,
        item_5: false,
        item_6: false,
        item_7: false,
        item_8: false
      },
      carousel: [
          {
            src: require('@/assets/carousel/gtx.jpg')
          },
          {
            src: require('@/assets/carousel/aorus.png')
          },
          {
            src: require('@/assets/carousel/ryzen.png')
          }
        ]
    })
  }
</script>