<template>
  <v-layout wrap>

      <v-content>
        <HelloWorld/>
      </v-content>
    
    <v-toolbar app flat class="grey--text toolbar-text" v-bind:class="{ pastHome: scrollPosition > 200, atHome: scrollPosition < 200 }">
      <v-toolbar-title v-scroll-to="{ el:'#homeImg', easing: 'ease', duration: 1200, offset: -64}" class="headline">// NerdBench</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-flex xs2>
        <v-text-field
        prepend-inner-icon="search"
        light
        flat
        class="pt-3 mr-4"
        label="Search"
        single-line
      ></v-text-field>
      </v-flex>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn class="grey--text" flat>Log in</v-btn>
        <v-btn class="grey--text" flat>Sign up</v-btn>
      </v-toolbar-items>
    </v-toolbar>

  </v-layout>
</template>

<script>
import HelloWorld from './components/HelloWorld'

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data () {
    return {
      state: "close",
      scrollPosition: null
    }
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY
    }
  },
  mounted() {
    window.addEventListener('scroll', this.updateScroll);
  }
}
</script>
